# OS-specific
.DS_Store

# Editor swapfiles
.*.sw?
*~

# Vagrant stuff
/.vagrant
.vagrant
/.kube
/kubeadm-init.out
kubeadm-init.out
src/
src/*
kubectl.exe
kubectl
get_helm.sh
checkov.results.xml
netbox/config/__pycache__
*.pyc
singularity_ent/*
*.crt
*.key
*.html